# Obsidian workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.obsidian/themes/

# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Editors
*.swp
*.swo
*~
